_site
.sass-cache

vendor

/.quarto/
**/*.quarto_ipynb
/site_libs/

/.vscode/
**/__pycache__/

# Ignore latex files when they arise. 
*.aux
*.fdb*
*.fls
*.log
*.synctex*
cv-rcf-pdf.tex

# ignore macos noise
.DS_Store