<!doctype html>
<html>

<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="assets/css/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="assets/css/cv-print.css" type="text/css" rel="stylesheet" media="print">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
  <script language="JavaScript" type="text/javascript">
    function d(a) {
      return a.replace(/[a-zA-Z]/g, function (c) {
        return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
      })
    };
    function w(es) {
      document.write("<a href=" + d("znvygb:" + es) + ">" + d(es) + "</a>");
    }
  </script>
</head>

<body>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>

</html>