name: Publish site

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Install TinyTeX (for PDF builds)
        run: quarto install tinytex

      - uses: quarto-dev/quarto-actions/render@v2

      - uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
